.support-container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
.cp-header {
  border-bottom: 3px solid #FDE0E0;
  padding-bottom: 0.8rem;
}

.cp-header h2 {
  background: linear-gradient(90deg, #e90000, #6610f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.support-title {
  text-align: center;
  font-size: 1.5rem;
  color: #e90000;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #e90000;
  outline: none;
}

.readonly-field {
  background-color: #f8f9fa;
  cursor: not-allowed;
  color: #555;
}

.send-btn {
  width: 100%;
  background: #e90000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.send-btn:hover {
  background: #e90000;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
.support-container {
  zoom: 0.85;
  transform-origin: top center;
  width: 133.33%;
}