.tag {
  background-color: #e90000;
  color: white;
  padding: 4px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.remove-btn {
  background: none;
  border: none;
  color: white;
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
}

input.form-control-sm,
select.form-select-sm {
  font-size: 0.875rem;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 4px 10px;
}

@media (max-width: 768px) {
  .row > div {
    margin-bottom: 10px;
  }
}
.d-flex.justify-content-center .card {
  zoom: 0.85;
  transform-origin: top center;
  width: 133.33%;
}